<!-- Navigation Bar -->
<nav class="navbar sticky top-0 z-50">
<div class="container mx-auto px-4">
    <div class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
           <span class="text-xl font-bold">Quantum</span><span class="text-xl font-light" style="margin-left: -5px;">Club</span>
           <div
    class="inline-block h-[30px] min-h-[1em] w-0.5 self-stretch bg-white"></div>
            <span class="text-xl font-l whitespace-nowrap">Qiskit Fall Fest 2025</span>
        </div>
        <div class="hidden md:flex items-center space-x-8">
            <a href="#about" class="hover:text-blue-400 transition-colors text-base md:text-lg">About</a>
            <a href="#schedule" class="hover:text-blue-400 transition-colors text-base md:text-lg">Schedule</a>
            <a href="#partners" class="hover:text-blue-400 transition-colors text-base md:text-lg">Partners</a>
            <a href="{{site.register_link}}" class="block w-full text-center nav-register-button px-4 py-2 rounded-lg transition delay-100 duration-100 ease-in-out hover:-translate-y-1 hover:scale-110"><i class="bi bi-clipboard-fill mr-3 ml-0 text-xl"></i>  Register</a>
        </div>
        <div class="md:hidden">
            <button id="mobile-menu-button" class=" focus:outline-none">
                <i class="fas fa-bars text-xl"></i>
            </button>
        </div>
    </div>
</div>

<!-- Mobile Menu -->
<div id="mobile-menu" class="hidden md:hidden bg-slate-800 border-t border-slate-700">
    <div class="px-4 py-3 space-y-3">
        <a href="#about" class="block py-2 hover:text-blue-400 transition-colors">About</a>
        <a href="#schedule" class="block py-2 hover:text-blue-400 transition-colors">Schedule</a>
        <a href="#partners" class="block py-2 hover:text-blue-400 transition-colors">Partners</a>
        <a href="{{site.register_link}}" class="block w-full text-center nav-register-button px-4 py-2 rounded-lg transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500">Register</a>
    </div>
</div>
</nav>