<div class="container mx-auto">
	<h2 class="text-3xl font-bold text-center mb-12">Event Schedule</h2>
	<div class="overflow-x-auto max-w-6xl mx-auto">
		<table class="w-full text-left border-collapse">
			<thead>
				<tr class="tableheader">
					<th class="px-6 py-4 border-b border-slate-600">Date</th>
					<th class="px-6 py-4 border-b border-slate-600">Time</th>
					<th class="px-6 py-4 border-b border-slate-600">Event</th>
					<th class="px-6 py-4 border-b border-slate-600">
						Speaker/Host
					</th>
					<th class="px-6 py-4 border-b border-slate-600">
						Location
					</th>
				</tr>
			</thead>
			{% for day in site.data.events %} {% for event in day.events %}
			<tr class="tabledata">
				{% if forloop.first %}
				<td
					class="px-6 py-4 font-semibold"
					rowspan="{{ forloop.length }}"
				>
					{{ day.date }}
				</td>
				{% endif %}
				<td class="px-6 py-4">{{ event.time }}</td>
				<td class="px-6 py-4">{{ event.title }}</td>
				<td class="px-6 py-4">{{ event.speaker }}</td>
				<td class="px-6 py-4">{{ event.location }}</td>
			</tr>
			{% if forloop.last %}
			<tr class="dayend">
				{% endif %} {% endfor %} {% endfor %} 
			</tr>
		</table>
	</div>
</div>
